
body {
	background-color: #FF4942;
	font-family: 'Metrophopic', sans-serif;
}

.title {
	font-family: 'Permanent Marker', cursive;
}

#ingredients-form {
	width: 500px;
}

.input-group-prepend {
	background-color: #f8f9fa;
}

